@using ei8.Cortex.Diary.Application.Neurons;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.ViewModels;

<ul @attributes="SetRootStyle()">
    @if (this.Children != null)
    {
        string lastAuthor = string.Empty;
        @foreach (var child in Children)
        {
            string currentAuthor = (child.Neuron.Creation?.Author?.Tag + ((child.Neuron.Creation?.Author?.Id != child.Neuron.UnifiedLastModification?.Author?.Id) ? ", " + child.Neuron.UnifiedLastModification.Author.Tag : string.Empty));
            <li class="p-0 my-1" @onmouseout="() => child.ShowControls(false)" style="list-style-type: none;">
                <div class="container m-0">
                    @if (currentAuthor != lastAuthor)
                    {
                        lastAuthor = currentAuthor;
                        <div class="row">
                            <div class="col-auto p-1" />
                            <div class="col-auto pl-2">                            
                                <small style="font-size:x-small">
                                    @lastAuthor
                                </small>                            
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-auto p-1" style="font-family:monospace" @onclick="child.Toggle">
                            @child.GetIcon()
                        </div>
                        <div class="col-auto p-1" @onmouseover="() => child.ShowControls(true)" @onmouseout="() => child.ShowControls(false)" style="border-radius:.40rem; background-color: #e6e6e6">
                            @child.Tag
                            @if (child.AreControlsVisible && this.CanShowControls)
                            {
                                <button style="height: 1rem; vertical-align: bottom; font-size:x-small;" @onclick="() => this.RequestItemMenu(child)">...</button>
                                <button style="height: 1rem; vertical-align: bottom; font-size:x-small;" @onclick="() => this.RequestItemInfo(child)">info</button>
                            }
                        </div>
                    </div>
                    @if (child.IsExpanded)
                    {
                        <div class="row">
                            <TreeView Children="@child.Children" AvatarUrl="@this.AvatarUrl" @bind-SelectedNeuron="@this.SelectedNeuron" OnMenuRequested="@this.MenuRequested" OnInfoRequested="@this.InfoRequested" @bind-CanShowControls="@this.CanShowControls" IsRoot="false" />
                        </div>
                    }
                    @if (this.renderDirection == RenderDirectionValue.BottomToTop && this.Children.LastOrDefault() == child)
                    {
                        <div class="row">
                            <h1 id="bottom" />
                        </div>
                    }
                </div>
            </li>
        }
    }
</ul>

@code {        
    private NeuronViewModel[] children = new NeuronViewModel[0];
    [Parameter]
    public NeuronViewModel[] Children
    {
        get => this.children;
        set
        {
            if (this.children != value)
            {
                if (this.renderDirection == RenderDirectionValue.BottomToTop && value != null)
                    this.children = value.Reverse().ToArray();
                else
                    this.children = value;
            }
        }
    }

    [Parameter]
    public bool IsRoot { get; set; } = true;

    [Parameter]
    public string AvatarUrl { get; set; }

    [Parameter]
    public EventCallback OnMenuRequested { get; set; }

    [Parameter]
    public EventCallback OnInfoRequested { get; set; }

    [Parameter]
    public EventCallback<RenderDirectionValue> RenderDirectionChanged { get; set; }

    private RenderDirectionValue renderDirection;
    [Parameter]
    public RenderDirectionValue RenderDirection
    {
        get => this.renderDirection;
        set
        {
            if (this.renderDirection != value)
            {
                this.renderDirection = value;
                this.RenderDirectionChanged.InvokeAsync(this.renderDirection);
            }
        }
    }

    [Parameter]
    public EventCallback<NeuronViewModel> SelectedNeuronChanged { get; set; }

    private NeuronViewModel selectedNeuron;
    [Parameter]
    public NeuronViewModel SelectedNeuron
    {
        get => this.selectedNeuron;
        set
        {
            if (this.selectedNeuron != value)
            {
                this.selectedNeuron = value;
                this.SelectedNeuronChanged.InvokeAsync(this.selectedNeuron);
            }
        }
    }

    [Parameter]
    public EventCallback<bool> CanShowControlsChanged { get; set; }

    private bool canShowControls;
    [Parameter]
    public bool CanShowControls
    {
        get => this.canShowControls;
        set
        {
            if (this.canShowControls != value)
            {
                this.canShowControls = value;
                this.CanShowControlsChanged.InvokeAsync(this.canShowControls);
            }
        }
    }

    private async void RequestItemMenu(NeuronViewModel neuronViewModel)
    {
        neuronViewModel.ShowControls(false);
        this.SelectedNeuron = neuronViewModel;
        this.MenuRequested();
    }

    private async void RequestItemInfo(NeuronViewModel neuronViewModel)
    {
        neuronViewModel.ShowControls(false);
        this.SelectedNeuron = neuronViewModel;
        this.InfoRequested();
    }

    private async void MenuRequested()
    {
        await this.OnMenuRequested.InvokeAsync(this);
    }

    private async void InfoRequested()
    {
        await this.OnInfoRequested.InvokeAsync(this);
    }

    Dictionary<string, object> SetRootStyle()
    {
        var dict = new Dictionary<string, object>();
        if (this.IsRoot) dict.Add("style", "padding-left:3px");
        return dict;
    }
}
