@page "/tree"
@using ei8.Cortex.Diary.Domain.Model
@using ei8.Cortex.Diary.Port.Adapter.UI.Common
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.ViewModels
@using ei8.Cortex.Diary.Application.Neurons
@using ei8.Cortex.Diary.Port.Adapter.UI.ViewModels
@using ei8.Cortex.Library.Client
@using ei8.Cortex.Library.Common
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Modal
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared
@using Blazorise.Icons.FontAwesome;
@using ei8.Cortex.Diary.Application.Settings
@using ei8.Cortex.Diary.Application.Identity
@using ei8.Cortex.Diary.Port.Adapter.IO.Process.Services.Settings
@using Microsoft.AspNetCore.Http 
@inject INeuronQueryService neuronQueryService
@inject INeuronApplicationService neuronApplicationService
@inject ITerminalApplicationService terminalApplicationService
@inject IToastService toastService
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@inject ISettingsService SettingsService
@inject IIdentityService IdentityService
@inject ISignInInfoService signInInfoService
@inject IHttpContextAccessor httpContextAccesssor

<NeuronContextMenu @bind-SelectedOption="@this.SelectedOption" @bind-IsVisible="@this.IsContextMenuVisible" />
<ConfirmationBox Title="Confirm Delete" Message='@this.ProcessSelectionTag("Are you sure you want to delete '{0}'?")' @bind-IsVisible="@this.IsConfirmVisible" OnConfirmCallback="@this.ConfirmDelete" OnCloseCallback="@this.CloseConfirmation" />
<NeuronInfoBox @bind-SelectedNeuron="@this.SelectedNeuron" @bind-IsVisible="@this.IsInfoVisible" />
<div class="top-row px-4" style="padding-top:12px;z-index:1">
    <div class="details align-middle ">
        <button class="btn btn-light btn-sm rounded-circle" @onclick="this.Reload" style="height:32px" title="Reload">
            <Blazorise.Icon Name="FontAwesomeIcons.Redo" />
        </button>
        <input class="form-control form-control-sm ml-1 rounded" placeholder="Avatar URL" @bind="AvatarUrl" />
        <Dropdown RightAligned="true" @ref="this.userDropdown">
            <button class="btn btn-light btn-sm ml-1 rounded-circle" @onclick="this.ShowUserMenu" title="Identities">
                @if (this.SelectedSignInInfo.GivenName == SignInInfo.AnonymousGivenName)
                {
                    <Blazorise.Icon Name="FontAwesomeIcons.UserSecret" />
                }
                else
                {
                    <Blazorise.Icon Name="FontAwesomeIcons.UserCircle" />
                }
            </button>
            <Blazorise.DropdownMenu style="width:250px">
                @foreach (SignInInfo si in this.signInInfoService.SignIns)
                {
                    <DropdownItem @onclick="() => this.SelectedSignInInfo = si" Class="@(si == this.SelectedSignInInfo ? "bg-secondary text-white" : string.Empty)">
                        @if (si.GivenName == SignInInfo.AnonymousGivenName)
                        {
                            <Blazorise.Icon Name="FontAwesomeIcons.UserSecret" Class="px-2" />
                        }
                        else
                        {
                            <Blazorise.Icon Name="FontAwesomeIcons.UserCircle" Class="px-2" />
                        }
                        <small>@si.IdentityServer.Url</small> <br />
                        @si.GivenName&nbsp;@si.FamilyName <br />
                        @si.Email <br />
                        <button class="btn btn-light btn-sm ml-1 rounded-circle" @onclick="() => this.SignOutUser(si)" title="Identities">
                            <Blazorise.Icon Name="FontAwesomeIcons.SignOutAlt" />
                        </button>
                    </DropdownItem>
                }
                <DropdownDivider/>
                <input class="form-control form-control-xs ml-2 rounded" placeholder="ID Server URL" @bind="this.IdServerUrl" style="width:232px" />
                <DropdownItem @onclick="this.LoadIdServer">
                    <Blazorise.Icon Name="FontAwesomeIcons.SignInAlt" Class="px-2" />
                    Sign-In
                </DropdownItem>
            </Blazorise.DropdownMenu>
        </Dropdown>
        <Dropdown RightAligned="true" @ref="this.optionsDropdown">
            <button class="btn btn-light btn-sm ml-1 rounded-circle" @onclick="this.ShowOptionsMenu" title="Options">
                <Blazorise.Icon Name="FontAwesomeIcons.EllipsisV" Class="px-1" />
            </button>
            <Blazorise.DropdownMenu>
                <DropdownItem @onclick="this.ToggleRenderDirection">
                    <Blazorise.Icon Name="FontAwesomeIcons.Sort" Class="px-2" />
                    @if (this.RenderDirection == RenderDirectionValue.TopToBottom)
                    {
                        @((MarkupString)"First At Top")
                    }
                    else
                    {
                        @((MarkupString)"First At Bottom")
                    }
                </DropdownItem>
            </Blazorise.DropdownMenu>
        </Dropdown>
    </div>
</div>
<div class="content px-4">
    <TreeView AvatarUrl="@this.AvatarUrl" Children="@this.Children" @bind-SelectedNeuron="@this.SelectedNeuron" OnMenuRequested="@this.MenuRequested" OnInfoRequested="@this.InfoRequested" @bind-CanShowControls="@this.CanShowControls" @bind-RenderDirection="@this.RenderDirection" />
</div>
<div class="footer px-4 h-auto">
    <EditorBox AvatarUrl="@this.AvatarUrl" @bind-SelectedNeuron="@this.EditNeuron" @bind-SelectedOption="@this.SelectedOption" SelectedSignInInfo="@this.SelectedSignInInfo"/>
</div>

@code
{
    private bool reloading = false;
    private bool expandSubNavSettings;
    private Dropdown userDropdown;
    private Dropdown optionsDropdown;

    private void SignOutUser(SignInInfo value)
    {
        this.navigationManager.NavigateTo(this.IdentityService.CreateLogoutRequest(value.AuthIdToken, value.IdentityServer.LogoutEndpoint));
    }

    private async Task LoadIdServer()
    {
        if (Uri.IsWellFormedUriString(this.IdServerUrl, UriKind.Absolute))
        {
            var sii = new SignInInfo();
            sii.IdentityServer.Url = this.IdServerUrl;
            this.signInInfoService.Add(sii);
            this.SettingsService.ApplicationUrl = this.navigationManager.BaseUri.TrimEnd('/');
            ((SettingsService)this.SettingsService).ClientId = "xamarin";
            this.navigationManager.NavigateTo(IdentityService.CreateAuthorizationRequest(sii.IdentityServer.AuthorizeEndpoint)); // works if not using frames and is navigated to as another page
        }
        else
        {
            this.toastService.ShowError("Specified ID Server URL is invalid.");
        }
    }

    private void ShowUserMenu()
    {
        if (this.userDropdown.Visible)
            this.userDropdown.Hide();
        else
            this.userDropdown.Show();

        this.optionsDropdown.Hide();
    }

    private void ShowOptionsMenu()
    {
        if (this.optionsDropdown.Visible)
            this.optionsDropdown.Hide();
        else
            this.optionsDropdown.Show();

        this.userDropdown.Hide();
    }

    private void ToggleRenderDirection()
    {
        this.RenderDirection = this.RenderDirection == RenderDirectionValue.TopToBottom ?
            RenderDirectionValue.BottomToTop :
            RenderDirectionValue.TopToBottom;

        this.optionsDropdown.Hide();
    }

    protected override void OnInitialized()
    {
        this.Children = new NeuronViewModel[0];
        this.SelectedSignInInfo = this.signInInfoService.SignIns.Single(si => si.IdentityServer.Url == string.Empty);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.RenderDirection == RenderDirectionValue.BottomToTop && this.reloading)
        {
            await this.ScrollToFragment("bottom");
            this.reloading = false;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public string IdServerUrl { get; set; }

    [Parameter]
    public string AvatarUrl { get; set; }

    [Parameter]
    public NeuronViewModel[] Children { get; set; } = new NeuronViewModel[0];

    private bool IsConfirmVisible { get; set; } = false;

    private bool IsContextMenuVisible { get; set; } = false;

    private bool IsInfoVisible { get; set; } = false;

    private RenderDirectionValue RenderDirection { get; set; } = RenderDirectionValue.TopToBottom;

    private ContextMenuOption selectedOption = ContextMenuOption.New;
    public ContextMenuOption SelectedOption
    {
        get => this.selectedOption;
        set
        {
            if (this.selectedOption != value)
            {
                this.selectedOption = value;
                switch (this.SelectedOption)
                {
                    case ContextMenuOption.New:
                        this.SelectedNeuron = null;
                        this.EditNeuron = null;
                        this.CanShowControls = true;
                        break;
                    case ContextMenuOption.Delete:
                        this.IsConfirmVisible = true;
                        break;
                    case ContextMenuOption.Edit:
                    case ContextMenuOption.AddRelative:
                    case ContextMenuOption.LinkRelative:
                        this.CanShowControls = false;
                        this.EditNeuron = this.SelectedNeuron;
                        break;
                }
            }
        }
    }

    private bool CanShowControls { get; set; } = true;

    private NeuronViewModel SelectedNeuron { get; set; } = null;

    private NeuronViewModel editNeuron = null;
    private NeuronViewModel EditNeuron
    {
        get => this.editNeuron;
        set
        {
            this.editNeuron = value;
        }
    }

    private SignInInfo selectedSignInInfo;

    public SignInInfo SelectedSignInInfo
    {
        get { return selectedSignInInfo; }
        set
        {
            if (this.selectedSignInInfo != value)
            {
                this.selectedSignInInfo = value;

                if (this.userDropdown != null)
                    this.userDropdown.Hide();
            }
        }
    }


    private string ProcessSelectionTag(string format) => this.SelectedNeuron is NeuronViewModel ?
            string.Format(format, this.SelectedNeuron.Tag) :
            "[Error: Not a valid Neuron]";

    private async Task Reload()
    {
        try
        {
            this.reloading = true;
            var children = new List<NeuronViewModel>();
            var ns = (await this.neuronQueryService.SendQuery(
                this.AvatarUrl,
                this.SelectedSignInInfo.AuthAccessToken
                )).Neurons;
            ns.ToList().ForEach(n => children.Add(new NeuronViewModel(new UINeuron(n), this.AvatarUrl, this.SelectedSignInInfo.AuthAccessToken, this.neuronQueryService)));
            this.Children = children.ToArray();
        }
        catch (Exception ex)
        {
            this.toastService.ShowError(ex.Message);
        }
    }

    private async Task ScrollToFragment(string elementId)
    {
        // https://github.com/WICG/scroll-to-text-fragment/
        if (!string.IsNullOrEmpty(elementId))
        {
            await JSRuntime.InvokeVoidAsync("BlazorScrollToId", elementId);
        }
    }

    private async void MenuRequested() => this.IsContextMenuVisible = true;

    private async void InfoRequested() => this.IsInfoVisible = true;

    private async void ConfirmDelete()
    {
        if (QueryUrl.TryParse(this.AvatarUrl, out QueryUrl result))
        {
            try
            {
                string description = string.Empty;

                if (this.SelectedNeuron.Neuron.Type == RelativeType.NotSet)
                {
                    await this.neuronApplicationService.DeactivateNeuron(
                        result.AvatarUrl,
                        this.SelectedNeuron.Neuron.Id,
                        this.SelectedNeuron.Neuron.Version,
                        this.SelectedSignInInfo.AuthAccessToken
                        );
                    description = "Neuron removed";
                }
                else
                {
                    await this.terminalApplicationService.DeactivateTerminal(
                        result.AvatarUrl,
                        this.SelectedNeuron.Neuron.Terminal.Id,
                        this.SelectedNeuron.Neuron.Terminal.Version,
                        this.SelectedSignInInfo.AuthAccessToken
                        );
                    description = "Terminal removed";
                }
                this.toastService.ShowSuccess($"{description} successfully.");
            }
            catch (Exception ex)
            {
                this.toastService.ShowError(ex.Message);
            }
        }
    }

    private async void CloseConfirmation() => Blazor.Helper.ReinitializeOption(o => this.SelectedOption = o);
}