@page "/tree"
@using ei8.Cortex.Diary.Port.Adapter.UI.Common;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Data;
@using ei8.Cortex.Diary.Application.Neurons;
@using ei8.Cortex.Diary.Port.Adapter.UI.ViewModels;
@using ei8.Cortex.Library.Client;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.ContextMenus;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared;
@inject INeuronQueryService NeuronQueryService;
@inject INeuronApplicationService NeuronApplicationService;

<div class="top-row px-4">
    <br />
    <div class="details">
        <button class="btn btn-primary btn-sm" @onclick="this.Reload">Reload</button>
        <input class="form-control form-control-sm ml-1" placeholder="Avatar URL" @bind="AvatarUrl" />
    </div>
</div>
<div class="content px-4">
    <TreeView AvatarUrl="@this.AvatarUrl" Children="@this.Children" @bind-SelectedNeuron="@this.SelectedNeuron" OnMenuRequested="@this.MenuRequested"></TreeView>
</div>
<div class="footer px-4 h-auto">
    <EditorBox AvatarUrl="@this.AvatarUrl" @bind-SelectedOption="@this.SelectedOption" SelectedNeuron="@this.EditNeuron" CentralNeuron="@this.CentralNeuron"/>
</div>
<NeuronContextMenu @bind-SelectedOption="@this.SelectedOption" @bind-IsVisible="@this.IsContextMenuVisible" />
<ConfirmationBox Title="Confirm Delete" Message='@this.ProcessSelectionTag("Are you sure you want to delete '{0}'?")' @bind-IsVisible="@this.IsConfirmVisible" OnConfirmCallback="@this.ConfirmDelete" OnCloseCallback="@this.CloseConfirmation" />

@code {
    protected override void OnInitialized()
    {
        this.Children = new NeuronViewModel[0];
    }

    [Parameter]
    public string AvatarUrl { get; set; }

    [Parameter]
    public NeuronViewModel[] Children { get; set; } = new NeuronViewModel[0];

    private bool IsConfirmVisible { get; set; } = false;

    private bool IsContextMenuVisible { get; set; } = false;

    private ContextMenuOption selectedOption = ContextMenuOption.New;
    public ContextMenuOption SelectedOption
    {
        get => this.selectedOption;
        set
        {
            if (this.selectedOption != value)
            {
                this.selectedOption = value;
                switch (this.SelectedOption)
                {
                    case ContextMenuOption.New:
                        this.SelectedNeuron = null;
                        this.EditNeuron = null;
                        this.CentralNeuron = null;
                        break;
                    case ContextMenuOption.Delete:
                        this.IsConfirmVisible = true;
                        break;
                    case ContextMenuOption.Edit:
                        this.EditNeuron = this.SelectedNeuron;
                        break;
                    case ContextMenuOption.AddRelative:
                        this.CentralNeuron = this.SelectedNeuron;
                        break;
                }
            }
        }
    }

    private NeuronViewModel SelectedNeuron { get; set; } = null;

    private NeuronViewModel EditNeuron { get; set; } = null;

    private NeuronViewModel CentralNeuron { get; set; } = null;

    private string ProcessSelectionTag(string format) => this.SelectedNeuron is NeuronViewModel ?
            string.Format(format, this.SelectedNeuron.Tag) :
            "[Error: Not a valid Neuron]";

    private async Task Reload()
    {
        var children = new List<NeuronViewModel>();
        var ns = (await NeuronQueryService.SendQuery(this.AvatarUrl)).Neurons;
        ns.ToList().ForEach(n => children.Add(new NeuronViewModel(new UINeuron(n), this.AvatarUrl, this.NeuronQueryService)));
        this.Children = children.ToArray();
    }

    private async void MenuRequested() => this.IsContextMenuVisible = true;

    private async void ConfirmDelete()
    {
        if (QueryUrl.TryParse(this.AvatarUrl, out QueryUrl result))
        {
            await this.NeuronApplicationService.DeactivateNeuron(result.AvatarUrl, this.SelectedNeuron.Neuron.Id, this.SelectedNeuron.Neuron.Version);
        }
    }

    private async void CloseConfirmation() => Blazor.Helper.ReinitializeOption(o => this.SelectedOption = o);
}