@page "/tree"
@using ei8.Cortex.Diary.Port.Adapter.UI.Common;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.ViewModels;
@using ei8.Cortex.Diary.Application.Neurons;
@using ei8.Cortex.Diary.Port.Adapter.UI.ViewModels;
@using ei8.Cortex.Library.Client;
@using ei8.Cortex.Library.Common;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Modal;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Shared;    
@using Blazorise.Icons.FontAwesome;
@inject INeuronQueryService neuronQueryService;
@inject INeuronApplicationService neuronApplicationService;
@inject ITerminalApplicationService terminalApplicationService;
@inject IToastService toastService;
@inject NavigationManager navigationManager;
@inject IJSRuntime JSRuntime

<NeuronContextMenu @bind-SelectedOption="@this.SelectedOption" @bind-IsVisible="@this.IsContextMenuVisible" />
<ConfirmationBox Title="Confirm Delete" Message='@this.ProcessSelectionTag("Are you sure you want to delete '{0}'?")' @bind-IsVisible="@this.IsConfirmVisible" OnConfirmCallback="@this.ConfirmDelete" OnCloseCallback="@this.CloseConfirmation" />
<NeuronInfoBox @bind-SelectedNeuron="@this.SelectedNeuron" @bind-IsVisible="@this.IsInfoVisible" />
<div class="top-row px-4" style="padding-top:12px;z-index:1">
    <div class="details align-middle ">
        <button class="btn btn-light btn-sm rounded-circle" @onclick="this.Reload" style="height:32px" title="Reload">
            <Blazorise.Icon Name="FontAwesomeIcons.Redo" />
        </button>
        <input class="form-control form-control-sm ml-1 rounded" placeholder="Avatar URL" @bind="AvatarUrl" />
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown show p-0">
                @if (expandSubNavSettings)
                {
                    <button class="btn btn-light btn-sm ml-1" @onclick="() => expandSubNavSettings = !expandSubNavSettings" title="Options">
                        <Blazorise.Icon Name="FontAwesomeIcons.EllipsisV" Class="px-1" />
                        @((MarkupString)"Options")
                    </button>
                    <li class="dropdown-menu show p-0" aria-labelledby="navbarDropdown" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                        <li class="nav-item pl-2 p-0">
                            <NavLink class="nav-link text-dark" title=@(this.RenderDirection == RenderDirectionValue.TopToBottom ? "First At Top (e-mail style)" : "First At Bottom (chat style)") @onclick="() => this.RenderDirection = this.RenderDirection == RenderDirectionValue.TopToBottom ? RenderDirectionValue.BottomToTop : RenderDirectionValue.TopToBottom">
                                <Blazorise.Icon Name="FontAwesomeIcons.Sort" Class="px-2" />
                                @if (this.RenderDirection == RenderDirectionValue.TopToBottom)
                                {
                                    @((MarkupString)"First At Top")
                                }
                                else
                                {
                                    @((MarkupString)"First At Bottom")
                                }
                            </NavLink>
                        </li>
                    </li>
                }
                else
                {
                    <button class="btn btn-light btn-sm ml-1 rounded-circle" @onclick="() => expandSubNavSettings = !expandSubNavSettings" title="Options">
                        <Blazorise.Icon Name="FontAwesomeIcons.EllipsisV" Class="px-1" />
                    </button>
                }
            </li>
        </ul>
    </div>
</div>
<div class="content px-4">
    <TreeView AvatarUrl="@this.AvatarUrl" Children="@this.Children" @bind-SelectedNeuron="@this.SelectedNeuron" OnMenuRequested="@this.MenuRequested" OnInfoRequested="@this.InfoRequested" @bind-CanShowControls="@this.CanShowControls" @bind-RenderDirection="@this.RenderDirection" />
</div>
<div class="footer px-4 h-auto">
    <EditorBox AvatarUrl="@this.AvatarUrl" @bind-SelectedNeuron="@this.EditNeuron" @bind-SelectedOption="@this.SelectedOption" />
</div>

@code
{
    private bool expandSubNavSettings;

    protected override void OnInitialized()
    {
        this.Children = new NeuronViewModel[0];
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.RenderDirection == RenderDirectionValue.BottomToTop && !(this.IsContextMenuVisible || this.IsInfoVisible))
            await this.ScrollToFragment("bottom");

        await base.OnAfterRenderAsync(firstRender);
    }

    [Parameter]
    public string AvatarUrl { get; set; }

    [Parameter]
    public NeuronViewModel[] Children { get; set; } = new NeuronViewModel[0];

    private bool IsConfirmVisible { get; set; } = false;

    private bool IsContextMenuVisible { get; set; } = false;

    private bool IsInfoVisible { get; set; } = false;

    private RenderDirectionValue RenderDirection { get; set; } = RenderDirectionValue.TopToBottom;

    private ContextMenuOption selectedOption = ContextMenuOption.New;
    public ContextMenuOption SelectedOption
    {
        get => this.selectedOption;
        set
        {
            if (this.selectedOption != value)
            {
                this.selectedOption = value;
                switch (this.SelectedOption)
                {
                    case ContextMenuOption.New:
                        this.SelectedNeuron = null;
                        this.EditNeuron = null;
                        this.CanShowControls = true;
                        break;
                    case ContextMenuOption.Delete:
                        this.IsConfirmVisible = true;
                        break;
                    case ContextMenuOption.Edit:
                    case ContextMenuOption.AddRelative:
                    case ContextMenuOption.LinkRelative:
                        this.CanShowControls = false;
                        this.EditNeuron = this.SelectedNeuron;
                        break;
                }
            }
        }
    }

    private bool CanShowControls { get; set; } = true;

    private NeuronViewModel SelectedNeuron { get; set; } = null;

    private NeuronViewModel editNeuron = null;
    private NeuronViewModel EditNeuron
    {
        get => this.editNeuron;
        set
        {
            this.editNeuron = value;
        }
    }

    private string ProcessSelectionTag(string format) => this.SelectedNeuron is NeuronViewModel ?
            string.Format(format, this.SelectedNeuron.Tag) :
            "[Error: Not a valid Neuron]";

    private async Task Reload()
    {
        try
        {
            var children = new List<NeuronViewModel>();
            var ns = (await this.neuronQueryService.SendQuery(this.AvatarUrl)).Neurons;
            ns.ToList().ForEach(n => children.Add(new NeuronViewModel(new UINeuron(n), this.AvatarUrl, this.neuronQueryService)));
            this.Children = children.ToArray();
        }
        catch (Exception ex)
        {
            this.toastService.ShowError(ex.Message);
        }
    }

    private async Task ScrollToFragment(string elementId)
    {
        // https://github.com/WICG/scroll-to-text-fragment/
        if (!string.IsNullOrEmpty(elementId))
        {
            await JSRuntime.InvokeVoidAsync("BlazorScrollToId", elementId);
        }
    }

    private async void MenuRequested() => this.IsContextMenuVisible = true;

    private async void InfoRequested() => this.IsInfoVisible = true;

    private async void ConfirmDelete()
    {
        if (QueryUrl.TryParse(this.AvatarUrl, out QueryUrl result))
        {
            try
            {
                string description = string.Empty;

                if (this.SelectedNeuron.Neuron.Type == RelativeType.NotSet)
                {
                    await this.neuronApplicationService.DeactivateNeuron(
                        result.AvatarUrl,
                        this.SelectedNeuron.Neuron.Id,
                        this.SelectedNeuron.Neuron.Version
                        );
                    description = "Neuron removed";
                }
                else
                {
                    await this.terminalApplicationService.DeactivateTerminal(
                        result.AvatarUrl,
                        this.SelectedNeuron.Neuron.Terminal.Id,
                        this.SelectedNeuron.Neuron.Terminal.Version
                        );
                    description = "Terminal removed";
                }
                this.toastService.ShowSuccess($"{description} successfully.");
            }
            catch (Exception ex)
            {
                this.toastService.ShowError(ex.Message);
            }
        }
    }

    private async void CloseConfirmation() => Blazor.Helper.ReinitializeOption(o => this.SelectedOption = o);
}