@using Blazored.Toast.Services
@using Microsoft.JSInterop
@using ei8.Cortex.Diary.Port.Adapter.UI.ViewModels
@using ei8.Cortex.Library.Common;

@inject IToastService toastService
@inject IJSRuntime jsRuntime

@if (this.IsVisible)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Neuron Info</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close" @onclick="() => this.IsVisible = false">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <!-- Edit form for the current forecast -->
                <div class="modal-body">
                    <table style="width: 100%; height: 100%">
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Id:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.Id 
                                <Tooltip Inline=true Text="Copy to clipboard">
                                    <i class="fas fa-copy hover" @onclick="() => this.CopyToClipboard(this.selectedNeuron.Neuron.Id)"></i>
                                </Tooltip>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Tag:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.Tag
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                URL:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px; max-width: 200px; word-break: break-all;">
                                @this.selectedNeuron.Neuron.Url 
                                <Tooltip Inline=true Text="Copy to clipboard">
                                    <i class="fas fa-copy hover" @onclick="() => this.CopyToClipboard(this.selectedNeuron.Neuron.Url)"></i>
                                </Tooltip>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Ext Ref URL:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px; max-width: 200px; word-break: break-all;">
                                @this.selectedNeuron.Neuron.ExternalReferenceUrl
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Created On:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.Creation.Timestamp
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Created By:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.Creation.Author.Tag
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Last Modified On:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.LastModification.Timestamp
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Last Modified By:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.LastModification.Author.Tag
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Last Modified On (Unified):
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.UnifiedLastModification.Timestamp
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Last Modified By (Unified):
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.UnifiedLastModification.Author.Tag
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                Region:
                            </td>
                            <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                @this.selectedNeuron.Neuron.Region.Tag
                            </td>
                        </tr>
                        @if (this.selectedNeuron.Neuron.Type != RelativeType.NotSet)
                        {
                            <tr>
                                <td colspan="2" style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    <br />
                                    <strong>Terminal Info</strong>
                                    <br />
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Id:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Terminal.Id
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Type:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Type.ToString()
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Effect:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Terminal.Effect
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Strength:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Terminal.Strength
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    URL:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px; max-width: 200px; word-break: break-all;">
                                    @this.selectedNeuron.Neuron.Terminal.Url
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Ext Ref URL:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px; max-width: 200px; word-break: break-all;">
                                    @this.selectedNeuron.Neuron.Terminal.ExternalReferenceUrl
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Created On:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Terminal.Creation.Timestamp
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Created By:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Terminal.Creation.Author.Tag
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Last Modified On:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Terminal.LastModification.Timestamp
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    Last Modified By:
                                </td>
                                <td style="vertical-align: top; padding-left: 5px; padding-bottom: 3px;">
                                    @this.selectedNeuron.Neuron.Terminal.LastModification.Author.Tag
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool isVisible;
    [Parameter]
    public bool IsVisible
    {
        get => this.isVisible;
        set
        {
            if (this.isVisible != value)
            {
                this.isVisible = value;
                this.IsVisibleChanged.InvokeAsync(this.isVisible);
            }
        }
    }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    private TreeNeuronViewModel selectedNeuron { get; set; }
    [Parameter]
    public TreeNeuronViewModel SelectedNeuron
    {
        get => this.selectedNeuron;
        set
        {
            if (this.selectedNeuron != value)
            {
                this.selectedNeuron = value;
                this.SelectedNeuronChanged.InvokeAsync(this.selectedNeuron);
            }
        }
    }

    [Parameter]
    public EventCallback<TreeNeuronViewModel> SelectedNeuronChanged { get; set; }

    private void CopyToClipboard(string data)
    {
        jsRuntime.InvokeVoidAsync("copyToClipboard", data);
        this.toastService.ShowInfo($"Copied successfully.");
    }
}
