@using Blazorise.Icons.FontAwesome
@using ei8.Cortex.Diary.Application.Neurons;
@using ei8.Cortex.Diary.Application.Notifications;
@using ei8.Cortex.Library.Client;
@using ei8.Cortex.Library.Common;
@using ei8.Cortex.Diary.Port.Adapter.Common;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.ViewModels;
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.Modal;
@using ei8.Cortex.Diary.Domain.Model;
@using neurUL.Cortex.Common;
@using neurUL.Common.Http;
@using Blazored.FluentValidation;

@inject INeuronQueryService neuronQueryService;
@inject INeuronApplicationService neuronApplicationService;
@inject INotificationApplicationService notificationApplicationService;
@inject ITerminalApplicationService terminalApplicationService;
@inject IToastService toastService;

<ConfirmationBox Title="Confirm Owner Creation" Message='This Avatar needs to be initialized with an Owner Neuron. Do you wish to continue creating one?' @bind-IsVisible="@this.IsConfirmCreateOwnerVisible" OnConfirmCallback="@this.ConfirmCreateOwner" />
<ConfirmationBox Title="Similar Neuron Exists" Message='At least one other Neuron containing a similar Tag value already exists. Are you sure you wish to continue?' @bind-IsVisible="@this.IsConfirmCreateSimilarVisible" OnConfirmCallback="@this.ConfirmCreateSimilar" />
<div class="container-fluid">
    <EditForm Model=@this.editorNeuronViewModel OnSubmit=@this.FormSubmitted>
        <FluentValidationValidator />
        <div class="row">
            <div class="col p-0">
                <div class="container-fluid">
                    @if (!(this.SelectedOption == ContextMenuOption.New || this.SelectedOption == ContextMenuOption.Delete))
                    // if editing
                    {
                        // show option description
                        <div class="row">
                            <div class="col p-0 pt-1">
                                <p class="p-0 m-0 font-weight-bold">
                                    @this.GetOptionDescription()
                                </p>
                            </div>
                        </div>
                        // if editing non root
                        @if (!this.editorNeuronViewModel.IsRoot)
                        {
                            // show terminal properties
                            <div class="row">
                                <div class="col p-0 pr-1 pt-1 col-auto">
                                    <NullableInputSelect class="btn btn-secondary btn-sm dropdown-toggle" T="RelativeType" disabled="@(this.SelectedOption == ContextMenuOption.Edit)" @bind-Value="this.editorNeuronViewModel.Type">
                                        <option value="">--Select Type--</option>
                                        <option value="@RelativeType.Presynaptic">Sender</option>
                                        <option value="@RelativeType.Postsynaptic">Receiver</option>
                                    </NullableInputSelect>
                                    <ValidationMessage For=@(() => this.editorNeuronViewModel.Type) />
                                </div>
                                <div class="col p-0 pr-1 pt-1 col-auto">
                                    <NullableInputSelect class="btn btn-secondary btn-sm dropdown-toggle" T="NeurotransmitterEffect" disabled="@(this.SelectedOption == ContextMenuOption.Edit)" @bind-Value="this.editorNeuronViewModel.Effect">
                                        <option value="">--Select Effect--</option>
                                        <option value="@NeurotransmitterEffect.Excite">Excite</option>
                                        <option value="@NeurotransmitterEffect.Inhibit">Inhibit</option>
                                    </NullableInputSelect>
                                    <ValidationMessage For=@(() => this.editorNeuronViewModel.Effect) />
                                </div>
                                <div class="col p-0 pr-1 pt-1 col-auto">
                                    <InputNumber class="form-control-xs" placeholder="Strength" disabled="@(this.SelectedOption == ContextMenuOption.Edit)" style="width:80px" @bind-Value="this.editorNeuronViewModel.Strength" />
                                    <ValidationMessage For=@(() => this.editorNeuronViewModel.Strength) />
                                </div>
                                <div class="col p-0 pt-1 col-auto">
                                    <button type="button" class="btn btn-secondary btn-sm" style="width:100px" disabled="@(this.SelectedOption == ContextMenuOption.Edit)" @onclick="OnUseDefaults">Use Defaults</button>
                                </div>
                                <div class="col p-0 pt-1">
                                    @if (string.IsNullOrWhiteSpace(this.editorNeuronViewModel.TerminalExternalReferenceUrl))
                                    {
                                        <button type="button" class="btn btn-light btn-sm ml-1 p-1 rounded-square" @onclick="this.OnSearchExternalReferenceTerminal" title="Internal Terminal (Click to edit)">
                                            <Blazorise.Icon Name="FontAwesomeIcons.Brain" Class="px-1" />                                        
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-light btn-sm ml-1 p-1 rounded-square" @onclick="this.OnSearchExternalReferenceTerminal" title="@(this.editorNeuronViewModel.TerminalExternalReferenceUrl + " (Click to edit)")">
                                            <Blazorise.Icon Name="FontAwesomeIcons.Globe" Class="px-1" />
                                        </button>                                
                                    }
                                    <ValidationMessage For=@(() => this.editorNeuronViewModel.TerminalExternalReferenceUrl) />
                                </div>
                            </div>
                        }
                    }
                    @if (this.SelectedOption != ContextMenuOption.LinkRelative)
                    // if not just linking a relative
                    {
                        // show tag text area
                        <div class="row">
                            <div class="col py-1 px-0">
                                <InputTextArea class="form-control w-100" placeholder="Tag" @bind-Value="@this.editorNeuronViewModel.Tag" rows="4" />
                                <ValidationMessage For=@(() => this.editorNeuronViewModel.Tag) />
                            </div>
                        </div>
                    }
                    else
                    // if linking relative
                    {
                        // show item list view and search buttons
                        <div class="row">
                            <div class="col py-1 px-0">
                                <ListView Items="@this.editorNeuronViewModel.LinkCandidates" Render="@true">
                                    <ItemTemplate Context="itemContext">
                                        <ConditionalDisplay Show="@true">
                                            <li style="list-style:none" @key="@itemContext.Id">
                                                <input type="radio" id="@itemContext.Id" checked="@(this.RemovingLinkNeuron != null && this.RemovingLinkNeuron.Id == itemContext.Id)" @onchange="@(() => { this.RemovingLinkNeuron = itemContext; })" />
                                                <label for="@itemContext.Tag">@(!string.IsNullOrEmpty(itemContext.Tag) ? itemContext.Tag : " ")</label>
                                            </li>
                                        </ConditionalDisplay>
                                    </ItemTemplate>
                                </ListView>
                                <ValidationMessage For=@(() => this.editorNeuronViewModel.LinkCandidates) />
                            </div>
                            <div class="col-auto p-0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-auto p-1">
                                            <button type="button" class="btn btn-secondary btn-sm" style="width:25px" @onclick="this.OnSearchLinkNeuron">+</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto pl-1">
                                            <button type="button" class="btn btn-secondary btn-sm" style="width:25px" @onclick="this.OnRemoveSelectedLinkNeuron">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-auto pb-1 pr-1 p-0">
                            <button type="button" class="btn btn-secondary btn-sm"  @onclick="this.OnSearchRegionNeuron">Region...</button>
                        </div>
                        <div class="col-auto pb-1 p-0">
                            <input class="form-control-sm" style="width:150px"  value="@this.editorNeuronViewModel.RegionTag" @onchange="@((x) => { this.editorNeuronViewModel.RegionTag =x.Value.ToString() ; })" />
                        </div>
                        <div class="col-auto pb-1 p-0">
                            @if (string.IsNullOrWhiteSpace(this.editorNeuronViewModel.NeuronExternalReferenceUrl))
                            {
                                <button type="button" class="btn btn-light btn-sm ml-1 p-1 rounded-square" @onclick="this.OnSearchExternalReferenceNeuron" title="Internal Neuron (Click to edit)">
                                    <Blazorise.Icon Name="FontAwesomeIcons.Brain" Class="px-1" />                                        
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-light btn-sm ml-1 p-1 rounded-square" @onclick="this.OnSearchExternalReferenceNeuron" title="@(this.editorNeuronViewModel.NeuronExternalReferenceUrl + " (Click to edit)")">
                                    <Blazorise.Icon Name="FontAwesomeIcons.Globe" Class="px-1" />
                                </button>                                
                            }                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-1 flex-fixed-width-item">
                <div class="container h-100">
                    <div class="row h-50 justify-content-end">
                        <div class="col p-0">
                            <button type="button" class="btn btn-secondary btn-sm" style="width:80px" @onclick="OnCancel">Cancel</button>
                        </div>
                    </div>
                    <div class="row h-50 align-items-end justify-content-end">
                        <div class="col p-0">
                            <button type="submit" class="btn btn-primary btn-sm" style="width:80px" disabled="@(this.sending)">
                                @if (this.sending)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                }
                                else
                                {
                                    @((MarkupString)"Send")
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div>
<NeuronSearchBox AvatarUrl="@this.AvatarUrl" @bind-IsVisible="@this.IsSearchRegionNeuronVisible" @bind-SelectedNeuron="this.SelectedRegionNeuron" />
<NeuronSearchBox AvatarUrl="@this.AvatarUrl" @bind-IsVisible="@this.IsSearchLinkNeuronVisible" @bind-SelectedNeuron="this.SelectedLinkNeuron" />
<NeuronSearchBox AvatarUrl="@this.editorNeuronViewModel.NeuronExternalReferenceUrl" @bind-IsVisible="@this.IsSearchExternalReferenceNeuronVisible" @bind-SelectedNeuron="this.SelectedExternalReferenceNeuron" />
<NeuronSearchBox AvatarUrl="@this.editorNeuronViewModel.TerminalExternalReferenceUrl" @bind-IsVisible="@this.IsSearchExternalReferenceTerminalVisible" @bind-SelectedNeuron="this.SelectedExternalReferenceTerminalRelative" />

@code {
    private EditorNeuronViewModel editorNeuronViewModel = new EditorNeuronViewModel();
    private Neuron preEditCopy = null;

    private bool sending = false;

    [Parameter]
    public string AvatarUrl { get; set; }

    private Neuron RemovingLinkNeuron { get; set; }

    private ContextMenuOption selectedOption;
    [Parameter]
    public ContextMenuOption SelectedOption
    {
        get => this.selectedOption;
        set
        {
            if (this.selectedOption != value)
            {
                this.editorNeuronViewModel.SelectedOption = this.selectedOption = value;

                if (this.selectedOption == ContextMenuOption.Edit)
                {
                    if (this.selectedNeuron != null)
                    {
                        this.preEditCopy = new Neuron(this.selectedNeuron.Neuron);

                        // similar to NeuronViewModelBase.SetNeuron
                        this.editorNeuronViewModel.Id = this.selectedNeuron.Neuron.Id;
                        this.editorNeuronViewModel.Tag = this.selectedNeuron.Neuron.Tag;
                        this.editorNeuronViewModel.RegionId = this.selectedNeuron.Neuron.Region.Id;
                        this.editorNeuronViewModel.RegionTag = this.selectedNeuron.Neuron.Region.Tag;
                        this.editorNeuronViewModel.Version = this.selectedNeuron.Neuron.Version;
                        this.editorNeuronViewModel.Type = this.selectedNeuron.Neuron.Type;
                        this.editorNeuronViewModel.NeuronExternalReferenceUrl = this.selectedNeuron.Neuron.ExternalReferenceUrl;

                        if (this.selectedNeuron.Neuron.Type != RelativeType.NotSet)
                        {
                            this.editorNeuronViewModel.IsRoot = false;
                            // TODO: this.TerminalId = neuron.Terminal.Id;
                            if (int.TryParse(this.selectedNeuron.Neuron.Terminal.Effect, out int ie))
                                this.editorNeuronViewModel.Effect = (NeurotransmitterEffect)ie;
                            if (float.TryParse(this.selectedNeuron.Neuron.Terminal.Strength, out float fs))
                                this.editorNeuronViewModel.Strength = fs;

                            this.editorNeuronViewModel.TerminalExternalReferenceUrl = this.selectedNeuron.Neuron.Terminal.ExternalReferenceUrl;

                            // TODO: this.TerminalCreation = new AuthorEventInfo(neuron.Terminal.Creation);
                            //this.TerminalLastModification = new AuthorEventInfo(neuron.Terminal.LastModification);
                            //this.TerminalVersion = neuron.Terminal.Version;
                        }
                    }
                }
                else if (
                        this.SelectedOption == ContextMenuOption.AddRelative ||
                        this.SelectedOption == ContextMenuOption.LinkRelative
                        )
                    this.editorNeuronViewModel.IsRoot = false;

                this.editorNeuronViewModel.SelectedOption = this.selectedOption;
                this.SelectedOptionChanged.InvokeAsync(this.selectedOption);
            }
        }
    }

    [Parameter]
    public EventCallback<ContextMenuOption> SelectedOptionChanged { get; set; }

    private NeuronViewModel selectedNeuron;
    [Parameter]
    public NeuronViewModel SelectedNeuron
    {
        get => this.selectedNeuron;
        set
        {
            if (this.selectedNeuron != value)
                this.selectedNeuron = value;

            if (this.selectedNeuron == null)
                this.editorNeuronViewModel.Initialize();
        }
    }

    [Parameter]
    public EventCallback<NeuronViewModel> SelectedNeuronChanged { get; set; }

    private NeuronViewModel selectedRegionNeuron;
    private NeuronViewModel SelectedRegionNeuron
    {
        get => this.selectedRegionNeuron;
        set
        {
            if (this.selectedRegionNeuron != value)
            {
                this.selectedRegionNeuron = value;

                if (this.selectedRegionNeuron != null)
                {
                    this.editorNeuronViewModel.RegionId = this.selectedRegionNeuron.Neuron.Id;
                    this.editorNeuronViewModel.RegionTag = this.selectedRegionNeuron.Neuron.Tag;
                    this.editorNeuronViewModel.ClearInitialRegion();
                }
                else
                    this.editorNeuronViewModel.InitializeRegion();
            }
        }
    }

    private NeuronViewModel initialRegionNeuron;
    [Parameter]
    public NeuronViewModel InitialRegionNeuron
    {
        get => this.initialRegionNeuron;
        set
        {
            if (this.initialRegionNeuron != value)
            {
                this.initialRegionNeuron = value;

                if (this.initialRegionNeuron != null)
                {
                    this.editorNeuronViewModel.InitialRegionId = this.initialRegionNeuron.Neuron.Id;
                    this.editorNeuronViewModel.InitialRegionTag = this.initialRegionNeuron.Neuron.Tag;
                }
                else
                    this.editorNeuronViewModel.InitializeRegion();
            }
        }
    }

    private bool IsSearchRegionNeuronVisible { get; set; } = false;

    private NeuronViewModel selectedLinkNeuron;
    private NeuronViewModel SelectedLinkNeuron
    {
        get => this.selectedLinkNeuron;
        set
        {
            if (this.selectedLinkNeuron != value)
            {
                this.selectedLinkNeuron = value;

                if (this.selectedLinkNeuron != null)
                {
                    // add to linkcandidates
                    this.editorNeuronViewModel.LinkCandidates = this.editorNeuronViewModel.LinkCandidates.Append(this.selectedLinkNeuron.Neuron).ToArray();
                    this.selectedLinkNeuron = null;
                }
            }
        }
    }

    private bool IsSearchLinkNeuronVisible { get; set; } = false;

    private NeuronViewModel selectedExternalReferenceNeuron;
    private NeuronViewModel SelectedExternalReferenceNeuron
    {
        get => this.selectedExternalReferenceNeuron;
        set
        {
            if (this.selectedExternalReferenceNeuron != value)
            {
                this.selectedExternalReferenceNeuron = value;
            }
        }
    }

    private bool isSearchExternalReferenceNeuronVisible = false;
    private bool IsSearchExternalReferenceNeuronVisible
    {
        get => this.isSearchExternalReferenceNeuronVisible;
        set
        {
            if (this.isSearchExternalReferenceNeuronVisible != value)
            {
                this.isSearchExternalReferenceNeuronVisible = value;

                if (!this.isSearchExternalReferenceNeuronVisible)
                {
                    if (this.selectedExternalReferenceNeuron != null)
                    {
                        this.editorNeuronViewModel.NeuronExternalReferenceUrl = this.selectedExternalReferenceNeuron.Neuron.Url;
                        this.selectedExternalReferenceNeuron = null;
                    }
                    else
                        this.editorNeuronViewModel.NeuronExternalReferenceUrl = string.Empty;
                }
            }
        }
    }

    private NeuronViewModel selectedExternalReferenceTerminalRelative;
    private NeuronViewModel SelectedExternalReferenceTerminalRelative
    {
        get => this.selectedExternalReferenceTerminalRelative;
        set
        {
            if (this.selectedExternalReferenceTerminalRelative != value)
            {
                this.selectedExternalReferenceTerminalRelative = value;
            }
        }
    }

    private bool isSearchExternalReferenceTerminalVisible = false;
    private bool IsSearchExternalReferenceTerminalVisible
    {
        get => this.isSearchExternalReferenceTerminalVisible;
        set
        {
            if (this.isSearchExternalReferenceTerminalVisible != value)
            {
                this.isSearchExternalReferenceTerminalVisible = value;

                if (!this.isSearchExternalReferenceTerminalVisible)
                {
                    if (this.selectedExternalReferenceTerminalRelative != null)
                    {
                        this.editorNeuronViewModel.TerminalExternalReferenceUrl = this.selectedExternalReferenceTerminalRelative.Neuron.Terminal.Url;
                        this.selectedExternalReferenceTerminalRelative = null;
                    }
                    else
                        this.editorNeuronViewModel.TerminalExternalReferenceUrl = string.Empty;
                }
            }
        }
    }

    private async Task FormSubmitted(EditContext editContext)
    {
        bool formValid = editContext.Validate();
        if (formValid)
        {
            await this.ProcessSend(
                async (rq, pi) => {
                    bool result = false;
                    switch (this.SelectedOption)
                    {
                        case ContextMenuOption.New:
                            pi.Description = "Neuron creation";
                            this.IsConfirmCreateOwnerVisible =
                                (await this.notificationApplicationService.GetNotificationLog(rq.AvatarUrl, string.Empty))
                                .NotificationList.Count == 0;

                            if (!this.IsConfirmCreateOwnerVisible)
                            {
                                var items = (await this.neuronQueryService.GetNeurons(
                                    rq.AvatarUrl,
                                    neuronQuery: new NeuronQuery() {
                                        TagContains = new string[] { this.editorNeuronViewModel.Tag },
                                        TagContainsIgnoreWhitespace = true
                                    })
                                ).Items;
                                this.IsConfirmCreateSimilarVisible = items.Any();

                                if (!this.IsConfirmCreateSimilarVisible)
                                {
                                    await this.neuronApplicationService.CreateNeuron(
                                        rq.AvatarUrl,
                                        Guid.NewGuid().ToString(),
                                        this.editorNeuronViewModel.Tag,
                                        this.editorNeuronViewModel.RegionId,
                                        this.editorNeuronViewModel.NeuronExternalReferenceUrl
                                        );
                                    result = true;
                                }
                                else
                                    pi.Suspend = true;
                            }
                            else
                                pi.Suspend = true;

                            break;
                        case ContextMenuOption.Edit:
                            pi.Description = "Neuron modification";
                            // TODO: indicate how many and which changes succeeded/failed
                            if (this.editorNeuronViewModel.Tag != this.preEditCopy.Tag)
                            {
                                await this.neuronApplicationService.ChangeNeuronTag(
                                    rq.AvatarUrl,
                                    this.editorNeuronViewModel.Id,
                                    this.editorNeuronViewModel.Tag,
                                    this.editorNeuronViewModel.Version
                                    );
                            }
                            if (this.editorNeuronViewModel.RegionId != this.preEditCopy.Region.Id)
                            {
                                await this.neuronApplicationService.ChangeNeuronRegionId(
                                    rq.AvatarUrl,
                                    this.editorNeuronViewModel.Id,
                                    this.editorNeuronViewModel.RegionId,
                                    this.editorNeuronViewModel.Version
                                    );
                            }
                            if (this.editorNeuronViewModel.NeuronExternalReferenceUrl != this.preEditCopy.ExternalReferenceUrl)
                            {
                                await this.neuronApplicationService.ChangeNeuronExternalReferenceUrl(
                                    rq.AvatarUrl,
                                    this.editorNeuronViewModel.Id,
                                    this.editorNeuronViewModel.NeuronExternalReferenceUrl,
                                    this.editorNeuronViewModel.Version
                                    );
                            }
                            result = true;
                            break;
                        case ContextMenuOption.AddRelative:
                            pi.Description = "Relative addition";
                            await Blazor.Helper.CreateRelativeCore(
                                this.neuronApplicationService,
                                this.terminalApplicationService,
                                rq.AvatarUrl,
                                this.editorNeuronViewModel.RegionId,
                                this.SelectedNeuron.Neuron.Id,
                                this.editorNeuronViewModel.Type.Value,
                                this.editorNeuronViewModel.Tag,
                                this.editorNeuronViewModel.Effect.Value,
                                this.editorNeuronViewModel.Strength.Value,
                                this.editorNeuronViewModel.NeuronExternalReferenceUrl,
                                this.editorNeuronViewModel.TerminalExternalReferenceUrl
                                );
                            result = true;
                            break;
                        case ContextMenuOption.LinkRelative:
                            pi.Description = "Relative linking";
                            await Blazor.Helper.LinkRelativeCore(
                                this.terminalApplicationService,
                                rq.AvatarUrl,
                                this.SelectedNeuron.Neuron.Id,
                                this.editorNeuronViewModel.Type.Value,
                                this.editorNeuronViewModel.LinkCandidates,
                                this.editorNeuronViewModel.Effect.Value,
                                this.editorNeuronViewModel.Strength.Value,
                                this.editorNeuronViewModel.TerminalExternalReferenceUrl
                                );
                            result = true;
                            break;
                    }
                    return result;
                },
                () => Blazor.Helper.ReinitializeOption(o => this.SelectedOption = o)
            );
        }
    }

    private async Task OnCancel()
    {
        // TODO: ask user if sure to proceed, all unsaved changes (if any) will be lost
        Blazor.Helper.ReinitializeOption(o => this.SelectedOption = o);
    }

    private async Task OnUseDefaults()
    {
        this.editorNeuronViewModel.Effect = NeurotransmitterEffect.Excite;
        this.editorNeuronViewModel.Strength = 1;
    }

    private void OnSearchLinkNeuron()
    {
        this.IsSearchLinkNeuronVisible = true;
    }

    private void OnRemoveSelectedLinkNeuron()
    {
        var lcs = this.editorNeuronViewModel.LinkCandidates;
        lcs = lcs.Where(un => un.Id != this.RemovingLinkNeuron.Id).ToArray();
        this.editorNeuronViewModel.LinkCandidates = lcs;
        this.RemovingLinkNeuron = null;
    }

    private void OnSearchRegionNeuron()
    {
        this.IsSearchRegionNeuronVisible = true;
    }

    private void OnSearchExternalReferenceNeuron()
    {
        this.IsSearchExternalReferenceNeuronVisible = true;
    }

    private void OnSearchExternalReferenceTerminal()
    {
        this.IsSearchExternalReferenceTerminalVisible = true;
    }
    private string GetOptionDescription()
    {
        string result = string.Empty;
        switch (this.SelectedOption)
        {
            case ContextMenuOption.AddRelative:
                result = "Adding New Relative to '{0}'";
                break;
            case ContextMenuOption.LinkRelative:
                result = "Linking existing Relative to '{0}'";
                break;
            case ContextMenuOption.Edit:
                result = "Editing '{0}'";
                break;
        }
        return string.Format(result, (this.SelectedNeuron != null ? this.SelectedNeuron.Neuron.Tag : string.Empty));
    }

    private async Task ProcessSend(Func<QueryUrl, ProcessInfo, Task<bool>> processCore, Action postProcess)
    {
        if(QueryUrl.TryParse(this.AvatarUrl, out QueryUrl resultQuery) && !this.sending)
        {
            var processInfo = new ProcessInfo();
            try
            {
                this.sending = true;
                var success = (await processCore.Invoke(resultQuery, processInfo));

                if (!processInfo.Suspend && success)
                    this.toastService.ShowSuccess($"{processInfo.Description} successful.");
            }
            catch (Exception ex)
            {
                string errorDescription, clipboardData;
                if (!Blazor.Helper.TryGetHttpRequestExceptionExDetalis(ex, out errorDescription, out clipboardData))
                {
                    errorDescription = ex.Message;
                    clipboardData = ex.ToString();
                }

                Blazor.Helper.ShowFriendlyException(
                    this.toastService,
                    $"{processInfo.Description} failed:",
                    errorDescription,
                    clipboardData
                );
            }
            finally
            {
                this.sending = false;
            }

            if (!processInfo.Suspend)
                postProcess.Invoke();
        }
    }

    private bool IsConfirmCreateSimilarVisible { get; set; } = false;

    private async void ConfirmCreateSimilar()
    {
        await this.ProcessSend(
                async (rq, pi) => {
                    pi.Description = "Neuron creation";
                    await this.neuronApplicationService.CreateNeuron(
                        rq.AvatarUrl,
                        Guid.NewGuid().ToString(),
                        this.editorNeuronViewModel.Tag,
                        this.editorNeuronViewModel.RegionId,
                        this.editorNeuronViewModel.NeuronExternalReferenceUrl
                        );
                    return true;
                },
                () => Blazor.Helper.ReinitializeOption(o => this.SelectedOption = o)
            );
    }

    private bool IsConfirmCreateOwnerVisible { get; set; } = false;

    private async void ConfirmCreateOwner()
    {
        await this.ProcessSend(
            async (rq, pi) => {
                pi.Description = "Owner Neuron creation";
                await this.neuronApplicationService.CreateNeuron(
                    rq.AvatarUrl,
                    Guid.NewGuid().ToString(),
                    this.editorNeuronViewModel.Tag,
                    this.editorNeuronViewModel.RegionId,
                    this.editorNeuronViewModel.NeuronExternalReferenceUrl
                    );
                return true;
            },
            () => Blazor.Helper.ReinitializeOption(o => this.SelectedOption = o)
        );
    }
}
