@using ei8.Cortex.Diary.Domain.Model
@using ei8.Cortex.Diary.Application.Settings 
@using ei8.Cortex.Diary.Application
@using ei8.Cortex.Diary.Port.Adapter.UI.Views.Blazor.ViewModels

@inject ITokenProvider tokenProvider
@inject IEnumerable<View> views
@inject NavigationManager navigationManager
@inject IToastService toastService
@inject ISettingsService settingsService 

<div class="pl-3 pr-2 navbar navbar-dark" style="background-color:rgba(0,0,0,0.4)">
    <img src="dasz.ico" alt="Home" style="width:30px; height:30px">
    <a class="navbar-brand" href="">d# neurUL Studio</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span> Welcome
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tree">
                <span class="oi oi-fork" aria-hidden="true"></span> Tree
            </NavLink>
        </li>*@
        @foreach (var v in this.views)
        {
            <li class="nav-item @v.Padding">
                <NavLink class="nav-link" @onclick="() => this.Navigate(v.Url)" href="@v.Url">
                    <span class="oi @v.Icon" aria-hidden="true"></span> @v.Name
                </NavLink>
            </li>
        }
        <li class="nav-item nav-item-bottom px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href=@(this.settingsService.BasePath + "/loginidp")>
                        <span class="oi oi-account-login" aria-hidden="true"></span> Sign in
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <form action=@(this.settingsService.BasePath + "/logoutidp") method="post" id="ff">
                        <NavLink class="nav-link" href="#" onclick="frmsubmit('ff');">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> @context.User.Identity.Name.Truncate(15)
                            <span style="padding-left: 5px; font-size: smaller; font-style: italic">(Sign out)</span>
                        </NavLink>
                        <input name="__RequestVerificationToken" type="hidden" value="@this.tokenProvider.XsrfToken">
                    </form>
                </Authorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void Navigate(string url)
    {
        this.navigationManager.NavigateTo(url, true);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
